<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>码序提供长期技术支持</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>CMS内容管理</h2>
      <p>码序企业信息化系统是一套全面的企业信息化系统解决方案，系统包括内容管理、客户管理和招聘管理等功能。可帮助企业将关键业务实现信息化管理。</p>
    </div>
    <div class="col-md-6">
      <h2>CRM客户关系管理</h2>
      <p>码序企业信息化系统是一套全面的企业信息化系统解决方案，系统包括内容管理、客户管理和招聘管理等功能。可帮助企业将关键业务实现信息化管理。</p>
    </div>
  </div>
</div>
