<div class="container">
  <div class="pull-right hidden-xs">
    <b>幼儿园建站系统</b> 演示版
  </div>
  系统由青岛码序科技有限公司开发和提供技术支持。<strong>Copyright &copy; 2018 <%= link_to '青岛码序科技有限公司', 'http://codeorder.cn', target: '_blank' %> </strong>版权所有
</div>
