<div class="container">
  <div class="pull-right">
    <b>幼儿园建站系统</b> 演示版
  </div>
  <div class="pull-left hidden-xs">
  系统由<%= link_to '青岛码序科技有限公司', 'http://codeorder.cn', target: '_blank' %>开发和提供技术支持。
  <div>幼儿园地址：山东省青岛市文登路*号 </div>
  <div>咨询电话：0532-8287***7 <%= link_to '在线报名', new_enroll_path %></div>
  </div>
</div>