<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= link_to '联系我们', '/p/contact' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Copyright © 2018
        <%= link_to '码序科技', root_path %>
        <%= Settings.icp_number %>
      </div>
    </div>
  </div>
</footer>
