<div class="container">

<section class="content-header">
  <h1>
    <%= @article.title %>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body table-responsive no-padding">
          <%= @article.content.html_safe %>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
