<section class="content-header">
  <h1>
    行业类别管理
    <small>新增职位</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to admin_path do %>
        <i class="fa fa-home"></i> 首页
      <% end %>
    </li>
    <li class="active">行业类别管理</li>
    <li class="active">新增行业类别</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">新增行业</h3>
        </div>
        <%= simple_form_for [:admin, @organization_category], wrapper: :horizontal_form do |f| %>
          <%= f.input :name, label: '行业名称', placeholder: '' %>
          <div class="box-footer">
            <%= f.button :submit, '提交' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
