<section class="content-header">
  <h1>
    食物分类设置
    <small>新增食物分类</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to admin_path do %>
        <i class="fa fa-home"></i> 首页
      <% end %>
    </li>
    <li class="active">食物分类设置</li>
    <li class="active">新增食物分类</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">新增食物分类</h3>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
