<%= simple_form_for [:admin, @job], wrapper: :horizontal_form do |f| %>
<%= f.input :name, label: '招聘职位', placeholder: '请输入职位' %>
<%= f.input :description, label: '职位介绍' %>
<div class="box-footer">
  <%= f.button :submit, '提交' %>
</div>
<% end %>
