<div class="">
  Vim
</div>

<div class="">
  官网网址：<a href="https://www.vim.org/">https://www.vim.org/</a>
</div>

<div class="">
  Vim是高度可配置的文本编辑器，用于高效创建和更改任何类型的文本。 它包含在大多数UNIX系统和Apple OS X中的“vi”中。
</div>

<div class="">
  知乎关于“<a href="https://www.zhihu.com/question/20930250">哪款键盘非常适合编程写代码？</a>”讨论
</div>

<div class="">
  支持Vim模式的编辑器：<a href="https://atom.io/">Atom</a> <a href="https://code.visualstudio.com/">Visual Studio Code</a>
</div>

<div class="">
  讨论组：<a href="https://www.v2ex.com/go/vim">V2EX:Vim</a>
</div>
