<div class="container">
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-md-6">
      <h2><%= product.name %></h2>
      <p><%= product.abstract %></p>
      <%= link_to '了解更多 »', product_path(product), class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
