<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @product.name %></h2>
      <p><%= @product.abstract %></p>
      <p><%= @product.content %></p>
    </div>
  </div>
</div>
