<div class="container">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <%= link_to root_path do %>
        <i class="fa fa-home"></i> 首页
        <% end %>
      </li>
      <li class="active">招生简章</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title center"><%= @page.title %></h3>
      </div>
      <div class="box-body">
        <%= @page.content.html_safe %>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content -->
</div>
