<section class="content-header">
  <h1>
    首页
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home active"></i> 首页</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Info boxes -->
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-child"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">新报名申请</span>
              <% enroll_count = Enroll.submit.count %>
              <span class="info-box-number"><%= enroll_count %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-newspaper-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">资讯数量</span>
              <% article_count = Article.count %>
              <span class="info-box-number"><%= article_count %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

      </div>
      <!-- /.row -->



</section>
<!-- /.content -->
